:root {
  --color-black: #011222;
  --color-green: #5eff00;
  --color-white: #f0f8ff;
  --color-white-accent: #fffff0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 80px;
}
ul {
  list-style-type: none;
}
li a {
  color: var(--color-white-accent);
  text-decoration: none;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*home page background*/
.home-page {
  background: var(--color-black);
}

/*buttons*/
.btn {
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin: 1rem;
}

.btn-white {
  color: var(--color-white-accent);
  border: 2px solid var(--color-white-accent);
}
.btn-white:hover {
  background-color: var(--color-white-accent);
  color: var(--color-black);
}

.btn-green {
  background-color: var(--color-green);
  color: var(--color-black);
  border: 2px solid var(--color-green);
}
/*top navigation*/
header {
  background-color: var(--color-black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  padding: 5px 0;
  z-index: 99;
}
.top-nav-container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 10px 0;
}

@media screen and (max-width: 490px) {
  .top-nav-container {
    flex-direction: column;
    padding: 10px 20px;
    row-gap: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .top-nav-container {
    -moz-column-gap: 5px;
    column-gap: 5px;
  }
}

@media screen and (max-width: 765px) {
  .top-nav-container {
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

.top-nav-container li {
  padding: 10px 5px;
  border-bottom: 2px solid var(--color-black);
  transition: all 0.2s ease-in;
}
.top-nav-container li a {
  padding: 10px 5px;
}
.top-nav-container li:hover,
.top-nav-container li.active {
  border-bottom: 2px solid var(--color-green);
}
.top-nav-container li:hover a,
.top-nav-container li.active a {
  color: var(--color-green);
}
.top-nav-container li:last-child {
  border: none;
  background-color: var(--color-green);
  border-radius: 10px;
  color: var(--color-black);
}
.top-nav-container li:last-child a {
  padding: 10px 10px;
  color: var(--color-black);
}

/*container breakdown*/
/*for extra small devices <576px*/
.container {
  max-width: 100%;
  margin: 0 auto;
}

/* for small devices 576px*/
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* for medium devices 768px*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/*for larger devices 992px*/
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*extra larger devices 1200px above*/

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*hero section*/
.hero {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 3rem;
}

.hero-img-container {
  position: relative;
}
.decorator {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  left: 20px;
  top: 20px;
  z-index: -1;
}
.hero-img-container img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  z-index: 2;
}

.dotted-grid {
  background-image: radial-gradient(
    circle at 1px 1px,
    #ffffff48 1px,
    transparent 0
  );
  background-size: 10px 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -1;
}
.absolute-top {
  left: -25px;
  top: -25px;
}
.absolute-bottom {
  right: -50px;
  bottom: -50px;
}

/*hero content*/
.hero-content {
  color: var(--color-white);
  font-size: 1.2rem;
}

.hero-content h1 {
  border-right: 2px solid var(--color-green);
  color: var(--color-green);
  font-size: 2rem;
  margin: 1.5rem 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  -webkit-animation: typing 3.5s steps(12, end) 0s infinite alternate,
    blinking 1s infinite;
  animation: typing 3.5s steps(20, end) 0s infinite alternate forwards,
    blinking 1s ease infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

@-webkit-keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: var(--color-green);
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: var(--color-green);
  }
  100% {
    border-right-color: transparent;
  }
}

.callout {
  display: flex;
}
